<br>
<div class="row">
    <button type="button" ng-click="setValuesForCreate()" class="btn btn-success" data-animation="am-fade-and-scale" data-template="views/modals/faqs/createAndUpdate.html" bs-modal="modal">Create a New Question
    </button>
</div><br>
<div class="row">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
                <th>Actions</th>
            <tr>
        </thead>
        <tbody>
            <tr ng-repeat="(id, faq) in faqs">
                <td>{{ faq.question }}</td>
                <td>{{ faq.answer }}</td>
                <td>
                    <button type="button" class="btn btn-primary" ng-click="setValuesForUpdate(id,faq)" data-template="views/modals/faqs/createAndUpdate.html" bs-modal="modal">
                         <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="button" class="btn btn-danger" ng-click="setIdToDelete(id)" data-template="views/modals/faqs/delete.html" bs-modal="modal">
                         <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
