<div id="about" class="fus-section fus-about fus-white-bg">
  <div class="fus-overlay"></div>
  <div class="container">
    <div class="fus-section-header">
      <h3>About Us</h3>
    </div>
    <div class="row">
      <div class="col-md-6 fus-photo hidden-xs hidden-sm">
        <!--img class="img-responsive" src="images/placeholder.png" alt="Placeholder of Your staff"-->
      </div>
      <div class="col-md-6">
        <div class="fus-tab-center animated fadeIn">
          <p>Pioneer Indoor was founded in 2006 with a mission to bring competitive, independent indoor percussion to the Southwest suburbs of Chicago. Two world championships, three finals appearances, one silver medal, and hundreds of educational success stories later, “Pio Indoor” looks to continue to educate and inspire its students while providing them with the best competitive experience possible.</p>
          <p>This non-profit youth organization consists of 35-40 performing members between the ages of 14 and 22. Pioneer Indoor competes nationally under the governance of <a href="//www.wgi.org">Winter Guard International</a> and locally under the <a href="//www.midwestpc.org">Midwest Percussion Cooperative</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
