<div id="about" class="fus-section fus-about fus-white-bg">
  <div class="fus-overlay"></div>
  <div class="container">
    <div class="fus-section-header">
      <h3>About Us</h3>
      <h4>We love what we do</h4>
    </div>
    <div class="row">
      <div class="col-md-6 fus-photo hidden-xs hidden-sm">
        <img class="img-responsive" src="images/placeholder.png" alt="Placeholder of Your staff">
      </div>
      <div class="col-md-6">
        <div class="fus-tab-center animated fadeIn">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
        </div>
      </div>
    </div>
  </div>
</div>
