<div class="col-md-10 col-md-offset-1" ng-controller="AdminCtrl">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#auditionees" data-toggle="tab">Auditionees</a></li>
        <li><a data-target="#faq" data-toggle="tab">FAQ Questions</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="auditionees">
            <div ng-include="'views/auditionees.html'" ng-controller="AuditioneesCtrl"></div>
        </div>
        <div class="tab-pane" id="faq">
            THIS IS MY COMMENTS.
        </div>
    </div>
</div>

 
