<div class="col-md-10 col-md-offset-1">
    <ul class="nav nav-tabs">
        <li class="active"><a data-target="#auditionees" data-toggle="tab">Auditionees</a></li>
        <li><a data-target="#faq" data-toggle="tab">FAQ Questions</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="auditionees">
            <div ng-include="'views/auditionees.html'" ng-controller="AuditioneesCtrl"></div>
        </div>
        <div class="tab-pane" id="faq" ng-controller='FAQCtrl'>
            <div class="row">
                <div class="col-md-6">
                    <h3>{{ formHeader }}</h3>
                    <form novalidate ng-submit="submitNewFAQ()" name="faqForm">
                        <div class="row">
                            <div class="col-md-12 form-group" ng-class="{ 'has-error': faqForm.question.$invalid && !faqForm.question.$pristine }">
                                <label class="control-label" for="question">Question *</label>
                                <input type="text" class="form-control" name="question" ng-model="faq.question" ng-minLength="10" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group" ng-class="{ 'has-error': faqForm.answer.$invalid && !faqForm.answer.$pristine }">
                                <label class="control-label" for="answer">Answer *</label>
                                <textarea rows="4" class="form-control" name="answer" ng-model="faq.answer" ng-minLength="10" required />
                            </div>
                        </div>
                        <input ng-disabled="faqForm.$invalid" type="submit" class="btn btn-lg btn-primary" />
                    </form>
                </div>
                <div class="col-md-6">
                    <h3>Preview:</h3>
                    <h5>{{ faq.question }}</h5>
                    <p>{{ faq.answer }}</p>
                </div>
            </div>
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Action</th>
                        <tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(id, faq) in faqs">
                            <td>{{ faq.question }}</td>
                            <td>{{ faq.answer }}</td>
                            <td>
                                <a ng-click="deleteQuestion(id)">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

 
