<div id="contact" class="fus-section fus-contact fus-white-bg">
  <div class="container">
    <div class="fus-section-header">
      <h3>Contact Us</h3>
      <h4>We would love to hear from you.</h4>
    </div>
    <div class="row" ng-controller="ContactCtrl">
        <div class="col-md-6 col-md-offset-3">
            <div class="alert" ng-class="{ 'alert-danger': error, 'alert-success': success}" ng-show="message">{{ message }}</div>
            <form ng-hide="message" ng-submit="sendContactForm()" novalidate name="contactForm">
                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-6" ng-class="{ 'has-error': contactForm.firstName.$invalid && !contactForm.firstName.$pristine }">
                        <label class="control-label" for="firstName">First Name *</label>
                        <input class="form-control" type="text" name="firstName" ng-model="contact.firstName" ng-minLength="2" required>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-6" ng-class="{ 'has-error': contactForm.lastName.$invalid && !contactForm.lastName.$pristine }">
                        <label class="control-label" for="lastName">Last Name *</label>
                        <input class="form-control" type="text" name="lastName" ng-model="contact.lastName" ng-minLength="2" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12" ng-class="{ 'has-error': contactForm.email.$invalid && !contactForm.email.$pristine }">
                        <label class="control-label" for="email">Email *</label>
                        <input class="form-control" type="email" name="email" ng-model="contact.email" ng-minLength="5" required>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col-md-12" ng-class="{ 'has-error': contactForm.subject.$invalid && !contactForm.subject.$pristine }">
                        <label class="control-label" for="subject">Subject *</label>
                        <input class="form-control" type="text" name="subject" ng-model="contact.subject" ng-minLength="3" required>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12" ng-class="{ 'has-error': contactForm.message.$invalid && !contactForm.message.$pristine }">
                        <label class="control-label" for="message">Message *</label>
                        <textarea class="form-control" rows="4" type="message" name="message" ng-model="contact.message" ng-minLength="10" required/><br>
                    </div>
                </div><br>
                <input ng-disabled="contactForm.$invalid" type="submit" class="btn btn-lg btn-primary" />
            </form>
        </div>
    </div>
  </div>
</div>

