<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="jumbotron">
          <h1>Frequently Asked Questions</h1>
          <p>The purpose of this page is to answer any questions you might have
              about the ensemble. If there is a question that isn't answered here,
              feel free to contact us!</p>
        </div>
    </div>
</div>

<div class="row" ng-controller="FAQCtrl">
    <div class="col-md-5 col-md-offset-1">
        <div ng-repeat="faq in faqs">
            <h3>{{ faq.question }}</h3>
            <p>{{ faq.answer }}</p>
        </div>
    </div>
</div>

<br/>
