<div class="row" ng-controller="FAQCtrl">
    <div id="faq" class="fus-section fus-faq">
      <div class="container">
        <div class="fus-section-header">
          <h3>Frequently Asked Questions</h3>
          <h4>Everything you need to know about the group, rehearsal schedules, and what it takes to be a part of the group.</h4>
        </div>

        <div class="row">
            <div ng-repeat="faq in faqs" class="col-md-4 col-sm-6 col-xs-12 faq-question">
                <h3>{{ faq.question }}</h3><br />
                <p ng-bind-html="faq.answer | markdown"></p>
            </div>
        </div>

      </div>
    </div>
</div>
