<h3>Payment Plans</h3>
<div class="table-responsive">
    <table class="payment table table-bordered">
        <thead>
            <tr>
                <th>Plan</th>
                <th>12/06/2014</th>
                <th>01/03/2015</th>
                <th>02/07/2015</th>
                <th>03/07/2015</th>
                <th>04/04/2015</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pay in Full</td>
                <td>$1,150</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>$1,150</td>
            </tr>
            <tr>
                <td>A</td>
                <td>$500</td>
                <td>$400</td>
                <td>$300</td>
                <td>-</td>
                <td>-</td>
                <td>$1,200</td>
            </tr>
            <tr>
                <td>B</td>
                <td>$500</td>
                <td>$275</td>
                <td>$275</td>
                <td>$275</td>
                <td>-</td>
                <td>$1,325</td>
            </tr>
            <tr>
                <td>C</td>
                <td>$500</td>
                <td>$250</td>
                <td>$250</td>
                <td>$225</td>
                <td>$225</td>
                <td>$1,450</td>
            </tr>
        </tbody>
    </table>
</div>
