<div ng-controller="StaffCtrl">
    <ul class="nav nav-pills pull-right">
        <li ng-repeat="section in sections" ng-class="{'active':search.tags === section}">
            <a href="" ng-click="highlightFilterIcon(section)">
                <span ng-show="search.tags === section" class="glyphicon glyphicon-remove" /> {{ section }}
            </a>
        </li>
    </ul>

    <div class="row" ng-repeat="member in staffMembers | filter:search:strict">
        <h3>{{ member.name }}</h3>
        <h4>{{ member.position }}</h4>
        <div class="row">
            <div class="col-md-4">
                <img src="{{ member.picture }}" class="img-rounded"/>
            </div>
            <div class="col-md-8">
                <p>{{ member.bio }}</p>
            </div>
        </div>
    </div><br>
</div>