<div id ="staff" class="fus-section fus-staff hidden-xs" ng-controller="StaffCtrl">
    <div class="container">
        <div class="fus-section-header">
          <h3>Staff</h3>
          <h4>"Some quote from a kid about how great the staff is" - that kid</h4>
        </div>
        
        <ul class="nav nav-tabs fus-tabs">
            <li ng-repeat="section in sections" ng-class="{'active':search.tags === section}">
                <a href="" ng-click="highlightFilterIcon(section)">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="fus-subtitle">{{ section }}</span>
                </a>
            </li>
        </ul><br /><br />
        
        <div class="row">
            <div class="col-md-4" ng-repeat="member in staffMembers | filter:search:strict">
              <div class="zoom-images thumbnail fus-text-on-top">
                <img src="images/placeholder6.jpg">
                <div class="caption">
                  <h3>{{ member.name }}</h3>
                  <p>{{ member.bio | cut:true:225:' ...'}}</p>
                  <a href="" ng-click="showStaffModal(member.name, member.position, member.bio)">Show more</a>
                </div>
              </div>
            </div>
        </div>

    </div>
</div>

<!-- This is the create/Update template -->
<script type="text/ng-template" id="staffModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">&times;</button>
        <h4 class="staff-name">{{ name }} - {{ position }}</h4>
    </div>
    <div class="modal-body">
        <p class="staff-bio">{{ bio }}</p>
    </div>
</script>
