<div id ="staff" class="fus-section fus-staff fus-white-bg hidden-xs" ng-controller="StaffCtrl">
    <div class="container">
        <div class="fus-section-header">
          <h3>Staff</h3>
        </div>

        <ul class="nav nav-tabs fus-tabs">
            <li ng-repeat="section in sections" ng-class="{'active':search.tags === section}">
                <a href="" ng-click="highlightFilterIcon(section)">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="fus-subtitle">{{ section }}</span>
                </a>
            </li>
        </ul><br /><br />

        <div class="row">
            <div class="col-md-4 col-sm-6" ng-repeat="member in staffMembers | filter:search:strict">
              <div class="">
                <img class="img-responsive img-circle" width="250" height="250" src="{{ member.picture }}">
                <div class="caption">
                  <h3><a href="" ng-click="showStaffModal(member.name, member.position, member.bio)">{{ member.name }}</a></h3> {{member.position}}
                </div>
              </div>
            </div>
        </div>

    </div>
</div>

<!-- This is the create/Update template -->
<script type="text/ng-template" id="staffModal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$close()">&times;</button>
        <h4 class="staff-name">{{ name }} - {{ position }}</h4>
    </div>
    <div class="modal-body">
        <p class="staff-bio" ng-bind-html="bio | markdown"></p>
    </div>
</script>
